

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.debug{
    border: dotted 1px black;
    
}

header{
    
    background-color: #add8e6;
}

.container{
    max-width: 80%;
    width: 60%;
    margin: auto;

    
}


.flex-container{
    display: flex;
    min-height: 40px;
    align-items:center;
}

.item{
    width: 200px;
    min-height: 20px;
    background-color: #daa520;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}

.item-2{
    flex-grow: 1;
}

.jumbotron{
    display: flex;
    background-color: #00008b;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    
}

.card{
    min-height: 245px;
    background-color: #ee82ee;
    min-width: 600px;
}

.invite-only{
    display: flex;
    align-items: center;
    padding: 20px;
}

.photo-card{
    height: 245px;
    width: 60%;
    background-color: #1e90ff;
}

.text-card{
    height: 245px;
    width: 40%;
    background-color: #f08080;
}

.bc-card{
    background-color: #d3d3d3;
}

.community{
     display: flex;
     align-items: center;
     padding: 20px;
}

.photo-community{
    height: 245px;
    width: 40%;
    background-color: #f08080;
}
.text-community{
    height: 245px;
    width: 60%;
    background-color: #1e90ff;
}

.fandom{
    display: flex;
    align-items: center;
    padding: 20px;
}
.photo-fandom{
    height: 245px;
    width: 60%;
    background-color: #1e90ff;
}
.text-fandom{
    height: 245px;
    width: 40%;
    background-color: #f08080;
}

.technology-card{
    padding-top: 20px;
    padding-bottom: 20px;
}

.technology{
    height: 600px;
    background-color: #228b22;
}

.last-card{
    background-color: #23272a;
}

.last-container{
    display: flex;
    min-height: 200px;
    padding: 20px;
}

.info{
    width: 40%;
    min-height: 345px;
    background-color: #f08080;
}
.info-1{
    width: 15%;
    min-height: 345px;
    background-color: #1e90ff;
    border: dotted 1px black;
}

.last-section{
    min-height: 100px;
    display: flex;
    background-color: #add8e6;
    align-items: center;
    justify-content: space-between;
}

.logo{
    
    min-width: 80px;
    min-height: 40px;
    background-color: #ee82ee;
    border: dotted 1px black;
    text-align: center;
}
